<h1>ABOUT</h1>

<p>  

<%= link_to "Haseeb's app", "http://www.protected-savannah-3380.herokuapp.com" %>

is my attempt at brushing up my rails and front end skills

<br>
<br>

<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>

</p>
